JWT_KEY=PUT-YOUR-KEY-HERE
DATABASE_URL=Host=localhost;Port=5432;Database=nitevault;Username=nitevault;Password=nitevault # change the vars to whatever you want
REDIS_CONNECTION=localhost:6379
TELEGRAM_API_ID=1234567
TELEGRAM_API_HASH=abcdef1234567890abcdef1234567890
BOT_TOKEN=1234567890:AABBCCDDEEF-AAAAAAAAAAAAAAAAAAAAAAA